
DJANGO_SECRET_KEY="replace_me"
JWT_SECRET_KEY="replace_me_too"
DEBUG=True

DBNAME="competencedb"
DBUSER="competence_user"
DBPASSWORD="your_mysql_password"
DBHOST="localhost"
DBPORT="3306"

ALLOWED_HOSTS="localhost,127.0.0.1"

CORS_ALLOWED_ORIGINS="http://localhost:3000"
DEFAULT_USER_PASSWORD="change_this"

DJANGO_SUPERUSER_USERNAME="compet"
DJANGO_SUPERUSER_EMAIL="admin@nathabee.de"
DJANGO_SUPERUSER_PASSWORD="change_this_too"

CI_DEPLOY_ENV="dev"
CI_UPDATE_DEPLOY_TREE="false"
CI_FRONTEND_ENV_FILE=".env.development"
CI_FRONTEND_BUILD_CMD="npm run local-build"
CI_RUN_EXTERNAL_SMOKE="false"