
DJANGO_SECRET_KEY="replace_me"
JWT_SECRET_KEY="replace_me_too"
DEBUG=False

DBNAME="competencedb"
DBUSER="competence_user"
DBPASSWORD="your_mysql_password"
DBHOST="localhost"
DBPORT="3306"

ALLOWED_HOSTS="competence.nathabee.de,localhost,127.0.0.1"

CORS_ALLOWED_ORIGINS="https://competence.nathabee.de,http://localhost:3000"
DEFAULT_USER_PASSWORD="change_this"

DJANGO_SUPERUSER_USERNAME="compet"
DJANGO_SUPERUSER_EMAIL="admin@nathabee.de"
DJANGO_SUPERUSER_PASSWORD="change_this_too"

CI_DEPLOY_ENV="prod"
CI_UPDATE_DEPLOY_TREE="true"
CI_FRONTEND_ENV_FILE=".env.production"
CI_FRONTEND_BUILD_CMD="npm run build"
CI_RUN_EXTERNAL_SMOKE="true"
CI_INSTALL_FRONTEND_DEPS="true"
CI_HEALTHCHECK_USERNAME="compet_ci"
CI_HEALTHCHECK_EMAIL="admin@nathabee.de"
CI_HEALTHCHECK_PASSWORD="change_this"