/* globals.css */

/***************************************************************************/

@import "~bootstrap/dist/css/bootstrap.min.css";

/***************************************************************************/
 
 

/* Root variables for colors */
:root {
  --custom-blue: #47cab4;
  --custom-warning: #fae46a;
  --custom-dark: #343a40;
  --custom-light: #f8f9fa;
  --custom-light-pink: rgba(255, 235, 239, 0.8); /* Light pink with transparency */
  --custom-dark-pink: rgba(255, 204, 213, 0.8); /* Darker pink with transparency */
  --custom-transparent: rgba(255, 255, 255, 0); /* Fully transparent */
  --custom-text: #343a40;
  --custom-text-on-dark: white;
  --custom-link-hover: #007bff;
  --custom-dropdown-bg: white;
  --custom-dropdown-border: #ccc;
}

/* Navbar container */
.navbar {
  background-color: var(--custom-transparent); /* Transparent by default */
  transition: background-color 0.3s ease; /* Smooth transition when scrolling */
  padding: 10px; /* Add some padding to the navbar */
  border-bottom: none; /* Remove any borders */
}

/* Sticky navbar with a semi-transparent color when scrolling */
.sticky-navbar {
  background-color: var(--custom-light-pink); /* Light pink with some transparency when scrolling */
}

/* Sticky navbar when scrolled past 100px */
.navbar.sticky-navbar {
  background-color: var(--custom-dark-pink); /* Dark pink with transparency when scrolling */
}

/* Hamburger icon remains fixed at top-left */
.hamburger-icon {
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: var(--custom-text); /* Dark icon color */
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--custom-dark);
  color: var(--custom-text-on-dark);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  transform: translateX(0);
}

.content-container {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.sidebar.open + .content-container {
  margin-left: 250px;
}

/* Navbar links */
.navbar .nav-link {
  color: var(--custom-text-on-dark);
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: var(--custom-link-hover);
}


 


 

.selected-row td {
  background-color: var(--custom-blue) !important; /* Highlight selected rows */
}