@import "~bootstrap/dist/css/bootstrap.min.css";

/* General PDF Styling */
#printable-section {
  width: 210mm;  /* A4 width */
  height: 297mm; /* A4 height */
  padding: 20mm; /* Padding inside the content */
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Standard font */
  margin: 20px; /* Margin around the content */
  border: 1px solid #ddd; /* Light border for distinction */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: #f9f9f9; /* Light background */
}


.col-6 {
  width: 100%; /* Full width in the PDF */
  padding: 10mm 0;
}

canvas {
  width: 100% !important; /* Canvas takes full container width */
  height: auto !important; /* Maintain aspect ratio */
}

/* Text and Headings */
#printable-section h2 {
  font-size: 20px; /* Headings font size */
  border-bottom: 2px solid #000; /* Underline */
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #333; /* Darker headings */
}

#printable-section p {
  font-size: 14px; /* Paragraph font size */
  line-height: 1.6; /* Line spacing */ 
}


#empty-column-1, #empty-column-2, #empty-column-3, #empty-column-4 {
  width: 5%; /* Empty columns for spacing */
}

/* Header Section *****************************/
#print-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 10px;
  background: linear-gradient( #1c5964, hsl(172, 62%, 60%), #333);
}

#print-header-logo img {
  max-width: 100px;
  max-height: 50px;
}

#print-header-schule h1 {
  font-size: 24px;
  margin: 0;
}

/* Section Titles ******************************/

/* Layout for Info Section */
#info-header-container  {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; /* Space between columns */
}


#info-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Space between columns */
}


/*#professor-info, #student-info {
  width: 45%;  
}*/


/* Section CHART  ******************************/

#chart-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}


#printable-section .section-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5%;
}

/* Images */
#printable-section img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Print-Specific Styling *************************/
@media print {
  #print-button {
    display: none; /* Hide print button */
  }

  #chart-container canvas {
    width: 100%; /* Ensure charts fill container */
    height: auto; /* Maintain aspect ratio */
  }
}
