.invalid-data {
    background-color: #4a5748;
    color: rgb(78, 4, 4);
    font-size: 12px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
  }

/* Gradient background */
body {
    background: linear-gradient(to left,   #798d76, #108a79);
    font-family: Arial, sans-serif; 
    align-items: center; 
}



/* Banner */
.scrolling-section { 
max-height: 600px;
overflow-y: auto;
}

/* Banner */
.banner-section { 
    padding: 5px;
    background: linear-gradient(to left,   #4a5748, #4a867e);
    align-items: center;
    /* position: sticky; */ /* Makes the banner sticky */
    top: 0; /* Sticks to the top of the page */
    z-index: 1000; /* Ensures it's on top of other content */ 
}



.small-logo {
    width: 50px;
    height: 50px;  
    margin-left: 20pc;
}


/* Shadow effect and orange border */
.shadow-section {
    box-shadow: 0 4px 16px #ffa50099;
    border: 2px solid #4e3f24;
    padding: 20px;
    border-radius: 32px;
    background:linear-gradient(to left,  #798d76, #108a79);
    margin: 20px;
}

/* Optional: Section title styling */
.section-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
}
 
 

.d-flex {
    display: flex;
}

/* Override .btn-primary */
.btn-primary {
    background-color: #4a5748;; /* Change this to your desired background color */
    border-color: #ffa50099; /* Change this to match the background color */
}

.btn-primary:hover {
    background-color: #45a049; /* Change hover color */
    border-color: #45a049;
}

 
/* Example CSS to enhance the chart visualization */
canvas {
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.8);
}

/* Ensure the container uses the full width and adapts */
.container-fluid {
    width: 100%;
    padding: 0;
  }
  
  /* Table responsive to allow horizontal scroll */
  .table-responsive {
    overflow-x: auto;
    margin-bottom: 15px;
  }
  
  .table th, .table td {
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  @media (max-width: 768px) {
    .shadow-section {
      margin: 10px; /* Reduce the margin when the screen is small */
    }
    .small-logo {
      margin-left: 5pc; /* Adjust logo for smaller screens */
    }
  }
  
  /* Ensure the table columns shrink proportionally */
  .table td input {
    width: 100%; /* Make sure inputs take the full width of the cell */
  }
  
  @media (min-width: 769px) {
    .container-fluid {
      max-width: 100%;
      padding: 0 15px;
    }
  }
  
  /* Remove margins entirely when screen is smaller than 600px */
  @media (max-width: 600px) {
    .shadow-section {
      margin: 0;
    }
  }
  
  /* Set a min-width for the table container */
  .table-responsive {
    min-width: 600px; /* Adjust as per your needs */
  }
  