<!-- templates/admin/base_site.html -->
{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin Evaluation project') }}{% endblock %}


{% load static %}  <!-- Load the static tag library after the extends tag -->

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin-custom.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
 
{% endblock %}

{% block nav-global %}{% endblock %}